.team-heading{
         font-weight: 700;
         font-size: 36px;
         color: black;
         text-transform: uppercase;
}
.card-style{
         background-color: rgb(56, 65, 78);
         color: white;
         font-family: 'Montserrat', sans-serif;
}
.player-number{
         transform: translate(-50%, -50%);
         margin: 0;
         width: 80px;
         background: #ffb400;
         position: relative;
         top: 0;
         left: 50%;
         font-size: 30px;
         line-height: 25px;
         padding-top: 13px;
         padding-bottom: 7px;
         transition: 0.3s;
         font-weight: 700;
         text-align: center;
}
.player-name{
         font-size: 24px;
         line-height: 20px;
         font-weight: 700;
}
.player-title{
         font-size: 14px;
}